.header-thumbnail
  float: left
  //-webkit-border-radius: 10px
h1
  padding-left: 110px
  padding-top: 30px
  height: 70px
ul.nav
  margin-top: 1em
  font-size: 1.5em
  li
    list-style-type: disc
    margin-left: 1em
.count td
  font-size: 4em

.big-number
  float: left
  margin-top: 1em
  margin-right: 3em
  text-align: center

  th
    vertical-align: middle
    text-align: left
    padding-left: 1em


.recent-events
  width: 700px

  > li
    clear: both
    margin-top: 0.5em
    // background-color: #ddd
  img
    vertical-align: center
  h3
    float: left
    width: 250px
    height: 38px
    // background-color: #aaa
    padding-top: 14px
    padding-left: 1em
    a
      font-weight: bold
  img
    float: left
    margin-right: 0.5em
  .meta
    height: 52px
    float: right
    width: 200px
    // background-color: #aaa
    .sales
      display: inline-block
      width: 100px
      text-align: right
      padding-top: 0.3em
      font-size: 2em
    .day
      margin-left: 0.5em
h2
  margin-top: 1em
