.bundle
.DS_Store
**/.DS_Store
.rspec
.rvmrc
capybara-*.html
config/*.sphinx.conf
coverage/*
coverage.data
db/sphinx/*
db/*.sqlite3
Gemfile.lock
log/*.log
public/system/*
tmp/**/*
app/stylesheets/*.css
public/stylesheets/*.css
public/images/icons-*.png
spec/controllers/tmp
.sass-cache/
public/assets/
rerun.txt