*.sw?
*.tmpproj
*~
.DS_Store
config/database.yml
config/settings.yml
coverage*
db/*.sqlite3
db/development_structure.sql
db/schema.rb
log/*
nbproject
public/stylesheets/application.css
public/system
tmp/**/*
tmp/restart.txt
tmp/web*
vendor/plugins/haml
public/stylesheets/compiled/*
