- if display_standard_flashes
  :javascript
    $(".flash_messages").fadeIn("slow");
  .flash_messages
    = display_standard_flashes

%h2= "Editing #{ @event.name }"
- semantic_form_for [:admin, @event] do |f|
  = render :partial => "form", :locals => { :f => f }
