- if @events.empty?
  Sorry there are no events,
  = link_to "Create one now", new_admin_event_path
- else
  Foo
%table.list
  %thead
    %tr
      %th What
      %th Where
      %th When
      
  %tbody
    - @events.each do |event|
      %tr
        %td= img(event.weather)
        %td= event.location_id
