/* line 4, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 4, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 22, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }

/* line 53, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  /* line 58, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  h1 img {
    margin: 0; }

/* line 60, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

/* line 64, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 69, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 74, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

/* line 79, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

/* line 83, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* line 85, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p {
  margin: 0 0 1.5em; }
  /* line 87, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 91, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

/* line 95, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a {
  text-decoration: underline;
  color: #000099; }
  /* line 12, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:visited {
    color: #000066; }
  /* line 15, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:focus {
    color: black; }
  /* line 18, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: black; }
  /* line 21, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:active {
    color: #cc0099; }

/* line 98, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

/* line 102, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong {
  font-weight: bold; }

/* line 104, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em {
  font-style: italic; }

/* line 106, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold; }

/* line 109, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub {
  line-height: 0; }

/* line 111, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666; }

/* line 113, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* line 116, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del {
  color: #666; }

/* line 118, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 121, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 123, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol {
  margin: 0 1.5em; }

/* line 125, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

/* line 128, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

/* line 131, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl {
  margin: 0 0 1.5em 0; }
  /* line 133, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  dl dt {
    font-weight: bold; }

/* line 135, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd {
  margin-left: 1.5em; }

/* line 137, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%; }

/* line 140, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th {
  font-weight: bold; }

/* line 142, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th {
  background: #c3d9ff; }

/* line 144, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px; }

/* line 146, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td {
  background: #e5ecf9; }

/* line 148, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot {
  font-style: italic; }

/* line 150, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption {
  background: #eee; }

/* line 152, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet {
  color: #666666; }

/* line 154, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud {
  color: #111111; }

/* line 3, ../../../app/stylesheets/partials/_skintastic.sass */
form li {
  padding: 10px 0px; }
  /* line 6, ../../../app/stylesheets/partials/_skintastic.sass */
  form li li {
    padding: 0; }
/* line 16, ../../../app/stylesheets/partials/_skintastic.sass */
form li fieldset {
  padding: 0; }
/* line 21, ../../../app/stylesheets/partials/_skintastic.sass */
form legend, form label {
  color: #333; }
/* line 24, ../../../app/stylesheets/partials/_skintastic.sass */
form label, form .label {
  padding-bottom: 5px; }
  /* line 27, ../../../app/stylesheets/partials/_skintastic.sass */
  form label abbr, form .label abbr {
    color: #f00; }
/* line 29, ../../../app/stylesheets/partials/_skintastic.sass */
form label {
  line-height: 1.4em;
  font-size: 13px; }
/* line 33, ../../../app/stylesheets/partials/_skintastic.sass */
form legend span {
  font-size: 1.4em;
  line-height: 1em; }
  /* line 37, ../../../app/stylesheets/partials/_skintastic.sass */
  form legend span.label {
    font-size: 1em; }
/* line 42, ../../../app/stylesheets/partials/_skintastic.sass */
form select {
  padding: 3px; }
/* line 44, ../../../app/stylesheets/partials/_skintastic.sass */
form input, form textarea, form select {
  font-family: inherit;
  font-size: 14px; }
/* line 47, ../../../app/stylesheets/partials/_skintastic.sass */
form textarea, form input {
  border: 1px solid #999;
  padding: 6px 8px;
  line-height: 100%; }
/* line 55, ../../../app/stylesheets/partials/_skintastic.sass */
form .date li, form .time li, form .datetime li {
  margin: 0 0.3em 0 0; }
/* line 63, ../../../app/stylesheets/partials/_skintastic.sass */
form #errorExplanation li {
  margin-left: 15px; }
/* line 65, ../../../app/stylesheets/partials/_skintastic.sass */
form form p, form .errors {
  padding: 3px 0px; }
/* line 68, ../../../app/stylesheets/partials/_skintastic.sass */
form .required input, form .required textarea, form .required select {
  background-color: #fff; }
/* line 71, ../../../app/stylesheets/partials/_skintastic.sass */
form .error input, form .error textarea, form .error select {
  background-color: #fcc;
  border: 1px solid #f66; }
/* line 75, ../../../app/stylesheets/partials/_skintastic.sass */
form .optional input, form .optional textarea, form .optional select {
  background-color: #fff; }
/* line 77, ../../../app/stylesheets/partials/_skintastic.sass */
form .errors {
  color: #a00; }
  /* line 79, ../../../app/stylesheets/partials/_skintastic.sass */
  form .errors li {
    margin-left: 1.2em; }
/* line 81, ../../../app/stylesheets/partials/_skintastic.sass */
form p.inline-errors {
  color: #f00; }
/* line 83, ../../../app/stylesheets/partials/_skintastic.sass */
form p.inline-hints {
  color: #777; }
/* line 88, ../../../app/stylesheets/partials/_skintastic.sass */
form .buttons {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px; }
  /* line 92, ../../../app/stylesheets/partials/_skintastic.sass */
  form .buttons li {
    padding-right: 0.5em; }
  /* line 94, ../../../app/stylesheets/partials/_skintastic.sass */
  form .buttons input {
    border: 1px solid #999; }

/* line 4, ../../../app/stylesheets/partials/_formtastic_changes.sass */
.formtastic fieldset ol li {
  border-bottom: none; }
/* line 7, ../../../app/stylesheets/partials/_formtastic_changes.sass */
.formtastic fieldset.inputs {
  border-top: none; }
/* line 10, ../../../app/stylesheets/partials/_formtastic_changes.sass */
.formtastic fieldset.buttons {
  margin-top: 0; }
  /* line 13, ../../../app/stylesheets/partials/_formtastic_changes.sass */
  .formtastic fieldset.buttons .commit {
    padding: 0; }
/* line 16, ../../../app/stylesheets/partials/_formtastic_changes.sass */
.formtastic fieldset label {
  padding: 0; }
  /* line 19, ../../../app/stylesheets/partials/_formtastic_changes.sass */
  .formtastic fieldset label span {
    font-size: 70%;
    margin-left: 10px; }
/* line 25, ../../../app/stylesheets/partials/_formtastic_changes.sass */
.formtastic p.inline-errors {
  color: #8a1f11; }
/* line 27, ../../../app/stylesheets/partials/_formtastic_changes.sass */
.formtastic p.inline-hints {
  font-size: 13px; }
/* line 30, ../../../app/stylesheets/partials/_formtastic_changes.sass */
.formtastic .error input, .formtastic .error textarea, .formtastic .error select {
  border-width: 1px;
  border-style: solid;
  border-color: #8a1f11; }

/* line 16, ../../../app/stylesheets/partials/_buttons.sass */
button, li.commit input {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 7px;
  background-color: #efefef;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #2f2f2f; }
  /* line 62, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_buttons.sass */
  button img, li.commit input img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
    float: none; }
  /* line 80, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_buttons.sass */
  button[type], li.commit input[type] {
    padding: 4px 10px 4px 7px;
    line-height: 17px; }
  /* line 83, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_buttons.sass */
  *:first-child+html button[type], *:first-child+html li.commit input[type] {
    padding: 4px 10px 3px 7px; }
  /* line 44, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_buttons.sass */
  button:hover, li.commit input:hover {
    background-color: #e0e4ef;
    border-color: #d2f1ff #c2e1ef #c2e1ef #d2f1ff;
    color: #2f2f2f; }
  /* line 36, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_buttons.sass */
  button:active, li.commit input:active {
    background-color: #efefef;
    border-color: #dfdfdf #cfcfcf #cfcfcf #dfdfdf;
    color: #2f2f2f; }

/* line 22, ../../../app/stylesheets/partials/_buttons.sass */
a.button {
  zoom: 1;
  display: inline;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  background-color: #efefef;
  border-color: #eeeeee #dedede #dedede #eeeeee;
  color: #2f2f2f; }
  /* line 62, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_buttons.sass */
  a.button img {
    margin: 0 3px -3px 0 !important;
    padding: 0;
    border: none;
    width: 16px;
    height: 16px;
    float: none; }
  /* line 44, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_buttons.sass */
  a.button:hover {
    background-color: #e0e4ef;
    border-color: #d2f1ff #c2e1ef #c2e1ef #d2f1ff;
    color: #2f2f2f; }
  /* line 36, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_buttons.sass */
  a.button:active {
    background-color: #efefef;
    border-color: #dfdfdf #cfcfcf #cfcfcf #dfdfdf;
    color: #2f2f2f; }

/* line 3, ../../../app/stylesheets/admin.sass */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  .container {
    display: block; }

/* line 6, ../../../app/stylesheets/admin.sass */
%p {
  font-size: 1.3em; }

/* line 141, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic ul, form.formtastic ol, form.formtastic legend, form.formtastic p {
  margin: 0;
  padding: 0; }
/* line 144, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic li {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px; }
/* line 150, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic fieldset {
  display: block;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  form.formtastic fieldset {
    display: block; }
/* line 154, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal;
  font-weight: normal; }
/* line 159, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic ol, form.formtastic ul {
  list-style: none; }
/* line 162, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic label {
  display: block;
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  form.formtastic label {
    display: block; }
/* line 166, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic input, form.formtastic textarea {
  vertical-align: middle; }
/* line 170, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .check_boxes input, form.formtastic .radio input {
  margin: 0; }
/* line 172, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .check_boxes label, form.formtastic .radio label {
  cursor: pointer; }
/* line 175, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .hidden {
  display: none; }
/* line 179, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .date li, form.formtastic .time li, form.formtastic .datetime li {
  float: left;
  width: auto;
  clear: none; }
/* line 183, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .date label, form.formtastic .time label, form.formtastic .datetime label {
  display: none;
  width: auto; }
/* line 186, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .date input, form.formtastic .time input, form.formtastic .datetime input {
  display: inline;
  margin: 0;
  padding: 0; }
/* line 191, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .errors {
  list-style: square; }
  /* line 193, ../../../app/stylesheets/partials/_formtastic_base.sass */
  form.formtastic .errors li {
    padding: 0;
    border: none;
    display: list-item;
    float: none;
    clear: both; }
/* line 199, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .inputs {
  z-index: 99; }
/* line 202, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .buttons li {
  float: left; }
/* line 205, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic li {
  overflow: hidden;
  display: inline-block;
  display: block; }
  /* line 5, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  form.formtastic li {
    display: block; }
  /* line 208, ../../../app/stylesheets/partials/_formtastic_base.sass */
  form.formtastic li fieldset {
    border: none;
    position: relative;
    margin-top: 0px; }
  /* line 212, ../../../app/stylesheets/partials/_formtastic_base.sass */
  form.formtastic li legend {
    display: block;
    margin-bottom: 0; }
  /* line 215, ../../../app/stylesheets/partials/_formtastic_base.sass */
  form.formtastic li .label {
    display: block;
    clear: both;
    background: transparent; }
  /* line 220, ../../../app/stylesheets/partials/_formtastic_base.sass */
  form.formtastic li ol {
    float: left;
    margin: 0; }
    /* line 223, ../../../app/stylesheets/partials/_formtastic_base.sass */
    form.formtastic li ol li {
      padding: 0;
      border: 0;
      display: inline; }
/* line 234, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic fieldset {
  width: 95%; }
/* line 236, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic ol {
  padding-left: 0; }
/* line 238, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic input {
  clear: both;
  float: none; }
/* line 241, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic li {
  display: block;
  clear: both;
  float: none;
  width: 95%; }
  /* line 244, ../../../app/stylesheets/partials/_formtastic_base.sass */
  form.formtastic li ol {
    padding: 0; }
  /* line 246, ../../../app/stylesheets/partials/_formtastic_base.sass */
  form.formtastic li li {
    clear: none;
    width: auto; }
  /* line 250, ../../../app/stylesheets/partials/_formtastic_base.sass */
  form.formtastic li fieldset legend, form.formtastic li fieldset legend .label {
    display: block;
    clear: both; }
  /* line 253, ../../../app/stylesheets/partials/_formtastic_base.sass */
  form.formtastic li fieldset .label {
    position: relative; }
  /* line 255, ../../../app/stylesheets/partials/_formtastic_base.sass */
  form.formtastic li fieldset label, form.formtastic li fieldset input {
    width: auto; }
/* line 258, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .date ol, form.formtastic .time ol, form.formtastic .datetime ol {
  width: 95%; }
/* line 260, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .date li, form.formtastic .time li, form.formtastic .datetime li {
  display: inline;
  clear: none;
  float: left;
  padding-right: 0; }
/* line 266, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .checkbox li, form.formtastic .radio li {
  display: block; }
/* line 268, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .checkbox input, form.formtastic .radio input {
  border: none; }
/* line 270, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic label {
  display: block;
  clear: both;
  float: none;
  width: full; }
/* line 273, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic input, form.formtastic textarea {
  width: 95%; }
/* line 278, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic select {
  width: auto; }
/* line 283, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .errors li {
  display: list-item; }
/* line 286, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .buttons ol {
  padding-left: 0;
  padding-right: 0; }
/* line 289, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .buttons li {
  float: left;
  width: auto;
  clear: none;
  display: inline; }
/* line 297, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .buttons input {
  width: auto; }
/* line 302, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic #errorExplanation {
  width: 95%; }
/* line 304, ../../../app/stylesheets/partials/_formtastic_base.sass */
form.formtastic .label {
  #left: -0.5em;
  #position: relative; }

/* line 12, ../../../app/stylesheets/admin.sass */
#header {
  height: 63px;
  background: #0E7F07; }
  /* line 16, ../../../app/stylesheets/admin.sass */
  #header #logo {
    float: right;
    border-top: 0; }
  /* line 20, ../../../app/stylesheets/admin.sass */
  #header h1 {
    font-size: 32px;
    color: #052F03;
    margin-top: 32px;
    float: right; }
  /* line 26, ../../../app/stylesheets/admin.sass */
  #header ul {
    display: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    display: inline-block;
    margin-top: 25px; }
    /* line 5, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    #header ul {
      display: block; }
    /* line 50, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
    #header ul li {
      list-style-type: none;
      margin-left: 0px;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      /* line 40, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #header ul li.first {
        padding-left: 0px; }
      /* line 42, ../../../../../.bundle/ruby/1.9.1/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
      #header ul li.last {
        padding-right: 0px; }
    /* line 30, ../../../app/stylesheets/admin.sass */
    #header ul a {
      color: #000;
      display: block;
      padding: 10px 20px;
      background: #DDD;
      text-decoration: none; }
      /* line 36, ../../../app/stylesheets/admin.sass */
      #header ul a:hover {
        background: #FFF; }
      /* line 38, ../../../app/stylesheets/admin.sass */
      #header ul a.active {
        background: #FFF; }

/* line 41, ../../../app/stylesheets/admin.sass */
#main {
  padding: 20px 0; }
  /* line 44, ../../../app/stylesheets/admin.sass */
  #main .container {
    position: relative;
    z-index: 100; }

/* line 48, ../../../app/stylesheets/admin.sass */
.centered {
  width: 500px;
  margin: 0 auto; }

/* line 53, ../../../app/stylesheets/admin.sass */
table#volunteers td {
  padding: 0;
  border-bottom: 1px solid #EFEFEF; }
/* line 57, ../../../app/stylesheets/admin.sass */
table#volunteers tr:hover {
  background: #EFEFEF; }
/* line 59, ../../../app/stylesheets/admin.sass */
table#volunteers a {
  color: #000;
  display: block;
  padding: 10px 5px;
  text-decoration: none; }

/* line 67, ../../../app/stylesheets/admin.sass */
table thead th {
  background: #FFF; }
