@font-face {
  font-family: Raleway;
  src: url("/fonts/raleway.otf");
}

/* line 5, ../../../../app/stylesheets/events/volunteer.sass */
body {
  margin: 3em;
}

/* line 8, ../../../../app/stylesheets/events/volunteer.sass */
.header-thumbnail {
  float: left;
}

/* line 11, ../../../../app/stylesheets/events/volunteer.sass */
.intro {
  font-size: 1.2em;
  color: #aaaaaa;
  margin-left: 1em;
}

/* line 15, ../../../../app/stylesheets/events/volunteer.sass */
h1 {
  padding-left: 135px;
  padding-top: 30px;
  height: 70px;
  font-family: Raleway;
  font-size: 2em;
}
/* line 21, ../../../../app/stylesheets/events/volunteer.sass */
h1 a {
  color: #dd2255;
  text-decoration: none;
}

/* line 24, ../../../../app/stylesheets/events/volunteer.sass */
ul.nav {
  margin-left: 2em;
  margin-top: 1em;
  font-size: 1.5em;
}
/* line 28, ../../../../app/stylesheets/events/volunteer.sass */
ul.nav a {
  color: #dd2255;
  text-decoration: none;
}
/* line 31, ../../../../app/stylesheets/events/volunteer.sass */
ul.nav a:hover {
  color: #aa1122;
}

/* line 36, ../../../../app/stylesheets/events/volunteer.sass */
.statistics {
  margin-left: 2em;
  margin-top: 1em;
}
/* line 40, ../../../../app/stylesheets/events/volunteer.sass */
.statistics thead th {
  text-align: center;
  border-bottom: solid 1px #dddddd;
}
/* line 43, ../../../../app/stylesheets/events/volunteer.sass */
.statistics thead th:first-child {
  border-right: solid 1px #dddddd;
}
/* line 45, ../../../../app/stylesheets/events/volunteer.sass */
.statistics td {
  text-align: right;
  font-size: 2em;
}
/* line 48, ../../../../app/stylesheets/events/volunteer.sass */
.statistics td, .statistics th {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 53, ../../../../app/stylesheets/events/volunteer.sass */
.statistics tbody th {
  border-right: solid 1px #dddddd;
}

/* line 55, ../../../../app/stylesheets/events/volunteer.sass */
h3 {
  font-family: Helvetica;
  font-weight: normal;
}

/* line 58, ../../../../app/stylesheets/events/volunteer.sass */
th {
  vertical-align: middle;
  text-align: left;
  padding-left: 1em;
}

/* line 64, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events {
  margin-left: 2em;
  width: 500px;
}
/* line 68, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events > li {
  clear: both;
  margin-top: 0.5em;
  border-top: solid 1px #dddddd;
  padding: 0.5em;
}
/* line 74, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events > li:first-child {
  border-top: none;
}
/* line 76, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events img {
  vertical-align: center;
}
/* line 78, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events h3 {
  font-family: helvetica;
  font-size: 1.2em;
}
/* line 82, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events h3 a {
  font-weight: normal;
  color: #dd2255;
  text-decoration: none;
}
/* line 86, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events h3 a:hover {
  color: #aa1122;
}
/* line 88, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events h3 .day {
  color: #888888;
  font-size: 0.8em;
  font-family: Raleway;
}
/* line 92, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events img {
  float: left;
  margin-right: 0.5em;
  margin-top: 0.5em;
}
/* line 96, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events .meta {
  float: right;
}
/* line 99, ../../../../app/stylesheets/events/volunteer.sass */
.recent-events .meta .sales {
  text-align: right;
  font-size: 2em;
}

/* line 102, ../../../../app/stylesheets/events/volunteer.sass */
h2 {
  margin-top: 1em;
  color: black;
  font-family: Raleway;
  font-weight: normal;
  font-size: 1.5em;
}
