/* TODO: Sass this */
input {
  padding: 0px;
  width: 150px;
}
form {
  margin-top: 0.5em;
}
form li {
  margin-bottom: 0.25em;
}
form label {
  display: inline-block;
  width: 100px;
  float: left;
}
form input.no-label {
  margin-left: 100px;
}
form .errorExplanation ul {
  list-style: disc;
  margin: 1em 0;
}
form .errorExplanation ul li {
  margin-left: 1.5em;
}
form textarea {
  width: 40em;
  height: 15em;
}

.tableForm th {
  text-align: left;
  font-weight: bold;
}

.fields {
  margin-left: 100px;
}
