@import partials/base.sass

.container
  +container
  
%p
  font-size: 1.3em
  
form.formtastic
  +stack-form(95%, "full", 0, "buttons-left", "select-auto")

#header
  height: 120px
  background: url("../../images/header_grad.jpg") repeat scroll 0 0 transparent

  .container
    position: relative
  
  #logo
    float: right
    border-top: 0
    img
      height: 120px
  
  h1
    font-size: 32px
    color: #052F03
    margin-top: 32px
    float: right
  
  ul
    position: absolute
    bottom: 0
    display: none
    +horizontal-list
    vertical-align: bottom
    a
      color: #ddd
      display: block
      padding: 5px 5px
      vertical-align: bottom
      text-decoration: none
      &:hover
        background: #FFF
        color: #333
      &.active
        background: #fff
        color: #333
        
#main
  padding: 20px 0

  h2
    color: #265037
    font-weight: bold
    font-variant: small-caps
    float: left

  .add_button
    background: #265037
    color: #fff
    padding: 10px
    float: right
  
  .container
    position: relative
    z-index: 100
    
.centered
  width: 500px
  margin: 0 auto
  
table#volunteers
  td
    padding: 0
    border-bottom: 1px solid #EFEFEF
  tr
    &:hover
      background: #EFEFEF
    &.template
      display:none

  a
    color: #000
    display: block
    padding: 10px 5px
    text-decoration: none
      
table
  thead
    th
      background: #FFF
      