%h2 Roles

= link_to "New role", new_admin_role_path, :class => "add_button"

%table#volunteers.list
  %tbody
    - for role in @roles
      %tr[role]
        %td= link_to role, [:edit, :admin, role]
        %td= link_to role.permissions.map(&:to_s).join(", "), [:edit, :admin, role]
